@page "/"
@using System.Timers
@using RockPaperScissors.Helpers
@implements IDisposable

<h1>Pedra, Papel e Tesoura</h1>

@if (!string.IsNullOrWhiteSpace(resultMessage))
{
    <h3 style="color:@resultMessageColor">@resultMessage</h3>
}


<button class="btn btn-info" @onclick="@(() => PlayAgain())">Jogar de Novo</button>

<div style="display:flex; justify-content:center; margin-bottom:20px;">
    <img src="@opponentHand.Image" class="image" />
</div>

<div style="display:flex; justify-content:space-around;">

    @foreach (var hand in hands)
    {
        <img src="@hand.Image" class="image selectable-image" @onclick="@(() => selectHand(hand))" />
    }

</div>



@code{

    List<Hand> hands = new List<Hand>()
{
        new Hand()
        {
            Selection = OptionRPS.Paper, LosesAgainst = OptionRPS.Scissors, WinsAgainst = OptionRPS.Rock, Image="paper.jpg"
        },
        new Hand()
        {
            Selection = OptionRPS.Rock, LosesAgainst = OptionRPS.Paper, WinsAgainst = OptionRPS.Scissors, Image="rock.jpg"
        },new Hand()
        {
            Selection = OptionRPS.Scissors, LosesAgainst = OptionRPS.Rock, WinsAgainst = OptionRPS.Paper, Image="scissors.jpg"
        }
    };

    Timer timer;
    Hand opponentHand;
    string resultMessage = string.Empty;
    string resultMessageColor = string.Empty;

    protected override void OnInitialized()
    {
        opponentHand = hands[0];
        timer = new Timer();
        timer.Interval = 100;
        timer.Elapsed += TimerElapsed;
        timer.Start();
    }

    int indexOpponentHand = 0;
    private void TimerElapsed(object sender, ElapsedEventArgs args)
    {
        indexOpponentHand = (indexOpponentHand + 1) % hands.Count;
        opponentHand = hands[indexOpponentHand];
        Console.WriteLine("Executed");
        StateHasChanged();
    }

    public void Dispose()
    {
        if (timer != null)
        {
            timer.Dispose();
        }
    }

    private void selectHand(Hand hand)
    {
        timer.Stop();
        var result = hand.PlayAgainst(opponentHand);

        if (result == GameStatus.Vitory)
        {
            resultMessage = "Venceu!";
            resultMessageColor = "green";
        }
        else if (result == GameStatus.Loss)
        {
            resultMessage = "Perdeu!";
            resultMessageColor = "red";
        }
        else
        {
            resultMessage = "Empatou!";
            resultMessageColor = "black";
        }
    }

    private void PlayAgain()
    {
        timer.Start();
        resultMessage = string.Empty;
    }
}